<title>Plataforma de aula</title>

<link rel="icon" type="image/x-icon" href="/favicon.png" />

<link rel="stylesheet" type="text/css" href="/css/codemirror.css" />
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/monokai.css" />
<link rel="stylesheet" type="text/css" href="/css/lint.css" />

<style>
    .CodeMirror-gutter {
        background: #585a4d;
    }

    .cm-s-monokai .CodeMirror-linenumber {
        color: #202020;
    }

    .CodeMirror {
        max-width: 100%;
        font-size: 15px;
    }

    body,
    html {
        height: 100%;
    }

    body {
        position: relative;
        font-family: sans-serif;
        display: flex;
        color: rgb(143, 143, 255);
    }

    .wrapper {
        width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        padding: 0;
        background-color: grey;
        border: 1px solid black;
    }

    .wrapper,
    .CodeMirror {
        height: 100%;
    }

    .editors {
        display: flex;
        height: 50%;
        /* width: 100%; */
        overflow: auto;
    }

    .editor {
        /* width: 100%; */
        width: 33.33333333333%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .page,
    .page iframe {
        width: 100%;
    }

    .page {
        height: 50%;
        border: none;
        display: flex;
        background-color: white;
    }

    .page iframe {
        height: 100%;
        border: none;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px);
        transition: opacity 0.3s;
    }

    .hide {
        opacity: 0;
    }

    .d-none {
        display: none;
    }

    .input,
    .button {
        padding: 10px;
        background-color: rgb(75, 75, 75);
        border-radius: 5px 0 0 5px;
        color: white;
        border: 1px solid rgb(175, 175, 175);
        outline: none;
    }

    .button {
        border-radius: 0 5px 5px 0;
        border-left: none;
        background-color: rgb(95, 95, 255);
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: rgb(143, 143, 255);
    }

    .label {
        margin-right: 10px;
    }
</style>
