<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>

        <link rel="icon" type="image/x-icon" href="/galere.png" />
    </head>

    <body>
        <%- include ("../partials/scripts.ejs") %>

        <script type="text/javascript" src="/js/storage.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script>
            const HOST = location.origin.replace(/^http/, 'ws')
            window.ws = new WebSocket(HOST)
            window.ws.onmessage = function (event) {
                const blb = event.data
                const reader = new FileReader()

                reader.addEventListener('loadend', (e) => {
                    const text = e.srcElement.result
                    const json = JSON.parse(text)

                    const el = document.querySelector('#j' + json.uuid)

                    if (!el) {
                        const elem = createElement('div#j' + json.uuid)
                        elem.classList.add('wrapper')
                        document.body.appendChild(elem)
                    } else {
                        el.innerHTML = ''
                    }

                    createCodeEnv('#j' + json.uuid, json, true)
                })

                reader.readAsText(blb)
            }
        </script>

        <style>
            .wrapper {
                padding: 50px;
            }
        </style>
    </body>
</html>
