<!DOCTYPE html>
<html>
  <head>
    <%- include
        ("../partials/header.ejs")
        %>
  </head>

  <body>
    <div class="wrapper">
      <div class="editors">
        <div id="editor-html"
            class="editor"></div>
        <div id="editor-css"
            class="editor"></div>
        <div id="editor-js"
            class="editor"></div>
      </div>

      <iframe id="page"></iframe>
    </div>

    <form class="overlay">
      <label class="label">Nome:</label>
      <input type="text"
          class="input">
      <button class="button"
          type="submit">Iniciar</button>
    </form>

    <script type="text/javascript"
        src="/js/codemirror.js"></script>

    <script type="text/javascript"
        src="/js/mode/javascript.js"></script>
    <script type="text/javascript"
        src="/js/mode/css.js"></script>
    <script type="text/javascript"
        src="/js/mode/xml.js"></script>

    <!-- <script type="text/javascript"
        src="/js/placeholder.js"></script> -->

    <script type="text/javascript"
        src="/js/addons/matchbrackets.js"></script>
    <script type="text/javascript"
        src="/js/addons/closebrackets.js"></script>
    <script type="text/javascript"
        src="/js/addons/xml-fold.js"></script>
    <script type="text/javascript"
        src="/js/addons/matchtags.js"></script>
    <script type="text/javascript"
        src="/js/addons/closetag.js"></script>


    <script src="https://unpkg.com/jshint@2.13.2/dist/jshint.js"></script>
    <script type="text/javascript"
        src="/js/addons/lint.js"></script>
    <script type="text/javascript"
        src="/js/addons/html-lint.js"></script>
    <script type="text/javascript"
        src="/js/addons/css-lint.js"></script>
    <script type="text/javascript"
        src="/js/addons/javascript-lint.js"></script>

    <!-- <script type="text/javascript"
        src="/js/addons/show-hint.js"></script>
    <script type="text/javascript"
        src="/js/addons/xml-hint.js"></script>
    <script type="text/javascript"
        src="/js/addons/html-hint.js"></script> -->

    <script type="text/javascript"
        src="/js/init.js"></script>
    <script type="text/javascript"
        src="/js/main.js"></script>

    <script>


    </script>
  </body>
</html>